@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button,
    input[type='number'] {
      -webkit-appearance: none;
      margin: 0;
      appearance: default;
      -moz-appearance: textfield !important;
    }
 }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: sans-serif;
}

.wallpaper{
    background-image: url(./public/assets/bgRoles.jpg);
}